*{
    margin: 0;
    padding: 0;
}

html{
    background-color: rgb(31, 33, 37);
}

.app--main{
    border-radius: 15px;
    margin: 20%;
    background-color: rgb(24, 26, 30)
}

footer{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(16, 16, 18);
}

footer > button{
    background-color: rgb(102, 99, 106);
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer > button > img {
    width: 20px;
}

.interests{
    margin: 50px;
}

.interests h2{
    color: white;
}

.interests p{
    margin-top: 5px;
    color: gray;
}

.about{
    margin: 50px;
}

.about h2{
    color: white;
}

.about p{
    margin-top: 5px;
    color: gray;
}

.info--picture{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

.info--label{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info--name{
    font-size: 40px;
    color: white;
}

.info--occupation{
    
    font-size: 20px;
    color: rgb(134, 125, 125)   
}

.info--site{
    margin-top: 10px;
    color: gray;
    font-size: 15px;
}

.info--buttons{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.info--buttons button{
    padding: 8px 14px;
}