*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    background: rgb(138,43,226);
    background: linear-gradient(90deg, rgba(138,43,226,1) 30%, rgba(167,92,237,1) 60%);
    color: white;
    font-family: 'Arial Narrow', Arial, sans-serif
}

.logo{
    display: flex;
}

.logo--image {
    width: 60px;
    transform: scaleX(-1);
    margin-right: 20px;
}

.main {
    margin: 40px 35px;
}

.main--input{
    display: flex;
    justify-content: space-between;
}

.main--input input{
    width: 45%;
    border-radius: 7px;
    font-size: 20px;
    padding: 15px;
    border: 1px solid rgb(165, 165, 165);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
}

.main--input input:focus {
    border: 1px solid purple;
    outline: none;
}

.main--btn_generate {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 7px;
    border: 0;
    background: rgb(138,43,226);
    background: linear-gradient(90deg, rgba(138,43,226,1) 30%, rgba(167,92,237,1) 60%);
    cursor: pointer;
    color: white;
}

.main--btn_generate:hover {
    background: linear-gradient(90deg, rgb(119, 32, 201) 30%, rgb(161, 77, 240) 60%);
}

.main--btn_icon {
    width: 25px;
    margin-left: 5px;
}

.main--meme_img {
    margin-top: 20px;
    width: 100%;
    height: 600px;
    border-radius: 10px;
    object-fit: contain;
}